.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.loginContainer {
  padding: 20px;
}

.loginPaper {
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form {
  margin-top: 10px;
}

.textField {
  margin-bottom: 16px;
}

.submitButton {
  margin-top: 20px;
  padding: 10px 0;
}

.footerText {
  margin-top: 20px;
  font-size: 16px;
}
